{% from "layout.html" import base_layout with context %}
{% call base_layout(
    title=page_title or '',
    brand_name=brand_name,
    brand_icon=brand_icon,
    active_page=active_page or '',
    storage_key=storage_key,
    sidebar_items=sidebar_items,
    extra_head=extra_head if extra_head is defined else ''
) %}
    <link rel="stylesheet" href="/static/app/css/style.css?v=1.0">
    {% block content %}{% endblock %}
    <script src="/static/web-common/js/theme.js"></script>
    <script src="/static/web-common/js/toast.js"></script>
    <script src="/static/app/js/bdms.js?v=1.0"></script>
    {% block extra_scripts %}{% endblock %}
{% endcall %}
